body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  padding:3%;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  margin: auto;
  height: 10%;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.table-hover tbody tr:hover td {
    background: #cbd5db;
}

.table .text-center {text-align: center}

tr, th, td { text-align: center; }

.btn-primary{
    background-color: #5f788a;
    color:#FFF;
    border-color: #cbd5db;
    margin: 1% 
}

.btn-primary:hover{
   background-color: #cbd5db;
   color:#FFF;
   border-color: #cbd5db;
}

.btn-primary:active {
  background-color: #cbd5db;
}

.dropdown-item{
  background-color: #fafafa;
  margin: 1% 
}